<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Sản Phẩm</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Danh sách Sản Phẩm</h1>
<a th:href="@{/sanpham/add}">Thêm Sản Phẩm</a>
<table border="1">
    <tr>
        <th>Mã SP</th>
        <th>Tên SP</th>
        <th>Size</th>
        <th>Giá Bán</th>
        <th>Số Lượng</th>
    </tr>
    <tr th:each="sp : ${sanPhamList}">
        <td th:text="${sp.maSP}"></td>
        <td th:text="${sp.tenSP}"></td>
        <td th:text="${sp.size}"></td>
        <td th:text="${sp.giaBan}"></td>
        <td th:text="${sp.soLuong}"></td>
    </tr>
</table>
</body>
</html>
