<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nhập sản phẩm</title>
</head>
<body>
<h2>Nhập thông tin sản phẩm</h2>
<form action="/sanpham/submit" method="post" th:object="${sanPhamForm}">
    Tên SP: <input type="text" th:field="*{tenSP}" required><br>
    Giá bán: <input type="number" step="0.01" th:field="*{giaBan}" required><br>
    Số lượng: <input type="number" th:field="*{soLuong}" required><br>
    <br><input type="submit" value="Lưu sản phẩm">
</form>
</body>
</html>
