<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nhập khách hàng</title>
</head>
<body>
<h2>Test thong tin khach hang</h2>
[[${khachHangList[0].getTenKH()}]]




  <table class="table table-striped">
        <thead >
            <tr ><p style="font-size:xx-large; color:darkcyan ;text-align: center;">List of User</p></tr>
            <tr>
                <th><i class="bi bi-person-vcard"></i>Ten khach hang </th>
              
                <th> <i class="bi bi-brush"></i>Edit </th>
                <th> <i class="bi bi-calendar2-x"></i> Delete </th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="listOfArray : ${khachHangList}">
              
                <td><span th:text="${listOfArray.getTenKH()}">  </span></td>
         




            </tr>
        </tbody>
    </table>
</body>
</html>
