<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOP GIAY TNH</title>
</head>
<body>
<h1>Danh sách sản phẩm giày</h1>
<table border="1">
    <tr>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
    </tr>
    <tr th:each="sp : ${products}">
        <td th:text="${sp.name}"></td>
        <td th:text="${sp.price} + ' VND'"></td>
    </tr>
</table>

<h1>Danh sách khách hàng</h1>
<table border="1">
    <tr>
        <th>Tên khách hàng</th>
        <th>Số điện thoại</th>
    </tr>
    <tr th:each="kh : ${customers}">
        <td th:text="${kh.ten}"></td>
        <td th:text="${kh.sdt}"></td>
    </tr>
</table>

<h1>Danh sách giao dịch</h1>
<table border="1">
    <tr>
        <th>Tên khách</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
    </tr>
    <tr th:each="gd : ${transactions}">
        <td th:text="${gd.khachHang.ten}"></td>
        <td th:text="${gd.sanPham.name}"></td>
        <td th:text="${gd.soLuong}"></td>
    </tr>
</table>
</body>
</html>
